@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);

h1, h2, h3, h4, h5 {
  color: #677A81;
}

body {
  font-family: 'Arimo', 'sans-serif';
  font-size: 1.2em;
  background-color: #F9F9F7;
}

header {
  border-bottom: #556270 1px solid;

  h1 {
    float: left;
    font-weight: normal;
    color: #556270;
  }

  nav {
    float: right;
  }
}

content {
  font-size: 0.8em;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
  display: block;
}