@font-face {
  font-family: 'NewJuneMediumRegular';
  src: url('newjune-medium-webfont.eot');
  src: url('newjune-medium-webfont.eot?#iefix') format('embedded-opentype'), url('newjune-medium-webfont.woff') format('woff'), url('newjune-medium-webfont.ttf') format('truetype'), url('newjune-medium-webfont.svg#NewJuneMediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'NewJuneSemiboldRegular';
  src: url('newjune-semibold-webfont.eot');
  src: url('newjune-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('newjune-semibold-webfont.woff') format('woff'), url('newjune-semibold-webfont.ttf') format('truetype'), url('newjune-semibold-webfont.svg#NewJuneSemiboldRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}


