header {
  margin: 25px;
  #personal-info {
    .primary-info {
      float: left;
      h1, h2, h3, h4, h5, h6 {
        &:first-of-type {
          margin-top: 10px;
        }
      }
      .name {
        color: #419AD5 !important;
        font-size: 48pt;
        @media print {
          font-size: 42pt !important;
        }
        font-family: 'NewJuneSemiboldRegular';
      }
      .subject {
        font-size: 24pt;
        font-family: 'NewJuneMediumRegular';
      }
    }
    .additional-info {
      margin-top: 24px;
      font-size: 18pt;
      @media print {
        font-size: 14pt !important;
      }
      text-align: right;
      float: right;
    }
  }
}
