main {
  .position {
    position: relative;
    padding-left: 30px;
    padding-bottom: 5px;
    h3.organization {
      small {
        color: #666 !important;
        font-style: italic;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
    .location {
      font-style: italic;
    }
    ul.accomplishments {
      margin-top: 10px;
      list-style: square;
    }
  }
}