@media print {

  .no-page-break {
    page-break-inside: avoid;
  }

  * {
    color: inherit !important;
    text-shadow: none !important;
    background: inherit !important;
    background-color: inherit !important;
    box-shadow: none !important;
  }

  a[href]:after {
    content: none;
  }

  html, body {
    font-size: 0.7em;
    -webkit-print-color-adjust: exact !important;
  }

  header {
    font-size: 1.5em;
    margin: 25px;
    #personal-info {
      .primary-info {
        .address {
          font-size: 1.3em;;
        }
        .name {
          font-size: 4em;;
        }
      }

      .additional-info {
        font-size: 1.3em;
        float: right;
      }

      .subject {
        font-size: 2.0em;
      }
    }
  }

  section#summary {
    padding: 15px !important;
  }

  main {
    .date-range {
      width: 14px;
    }
    h2 {
      font-size: 3em;
    }
    h3 {
      font-size: 2.1em;
    }
    .position {
      .title {
        font-size: 1.5em;
      }
      .location {
        font-size: 1.3em;
      }
      ul {
        padding-left: 25px;
      }
    }
    section#skills {
      h4 {
        font-size: 1.7em;
      }

      section {
        margin-top: -2px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    #education {
      h2 {
        font-size: 3em;
      }
      h4.school {
        font-size: 1.7em;
      }
    }
  }
}
