main {
  section#summary {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        margin-top: 0
      }
    }
    border-radius: 10px;
    padding: 30px;
    color: #fff !important;
    background-color: #419AD5 !important;
  }
}