@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import 'bootstrap-helpers';
@import 'resume/**/*';

html, body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NewJuneMediumRegular';
  small {
    font-family: 'Open Sans';
  }
}

.date-range {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 21px;
  color: #fff !important;
  background-color: #444 !important;

  .rotated-range {
    font-size: 0.9em;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    position: absolute;
    overflow: visible;
    left: 1px;
  }

  .start {
    @extend .rotated-range;
    bottom: 18px;
  }
  .end {
    @extend .rotated-range;
    top: 10px;
  }
}

#right-col {
  z-index: 99;
  margin-right: -$grid-gutter-width/2;
  margin-top: 25px;
  margin-bottom: 25px;
  @extend .span-4;
  @extend .pull-right;
}