!!!html
%head
  :css
    html {
      background-color: #111111;
      font-family: monospace;
    }
    .path {
      font-weight: bold;
    }

    .path a {
      font-weight: normal;
      color: #ccdd99
     }
    #{Pygments.css style: 'monokai'}

.path.c1.highlight
  \# Jason Waldrip - Developer -
  %a{ href: 'http://github.com/jwaldrip' } https://github.com/jwaldrip
  %br
  \# #{path}
= yield