%p
  Thinking about getting back into blogging about development stuff. Until then see the
  #{ link_to 'simple ruby rack app', 'https://github.com/jwaldrip/jasonwaldrip.com' } this site runs on. You can also
  find any of my development work on #{ link_to 'Github', 'https://github.com/jwaldrip' }.