- use_layout :resume

%header.container= render 'resume/header'
%main.container
  %section#summary= render 'resume/summary'
  .clearfix
    %section#right-col
      // Skills
      %section#skills= render 'resume/skills'
      // Education
      // %section#education.no-page-break= render 'resume/education'
    %section#left-col
    // Start Employment List
    %section#employment= render 'resume/employment'
