%p
  Thinking about getting back into blogging about development stuff. Until then see the
  %a{ href: '/server.rb'} simple ruby rack app
  this site runs on. You can also find me on
  %a{ href: 'https://github.com/jwaldrip'} Github
  \...