#personal-info.clearfix
  .primary-info
    %h1.name Jason Waldrip
    %h2.subject Resume
  .additional-info
    = link_to 'hire@jasonwaldrip.com', 'mailto:jason@waldrip.net'
    .print-only
      = link_to 'jasonwaldrip.com/resume', 'https://jasonwaldrip.com/resume'
