.position
  .date-range
    .start 2010
    .end 2012
  %h3
    Kit Digital
    %small November 2010 - January 2012
  .title
    Director, Product Management
  .location
    New York, NY | Paris, France | Denver, CO
  .description
    %ul
      %li
        Relied on industry knowledge, internal teams and clients to create new products in order to set us above the competition and drive new revenue.
      %li
        Created user stories and worked with the development team in order to deliver requirements for a product throughout its life cycle.
      %li
        Led training sessions and generated reference material in order to spread awareness of new products and services throughout the organization.

