.position
  .date-range
    .start 2006
    .end 2007
  %h3
    Limelight Networks
    %small July 2006 - July, 2007
  .title
    Sales Engineer
  .location
    Tempe, AZ
  .description
    %ul
      %li
        Represented the technical knowledge of the sales organization in an effort to inform and educate prospective customers and lead them to signing a deal.
      %li
        Outlined configurations that allowed the engineering team to properly implement a service and/or product for the customer.

