.position
  .date-range
    .start 2011
    .end 2012
  %h3
    Resipsa Law
    %small December 2011 - May 2012
  .title
    Founder
  .title
    Developer
  .location
    Denver, CO
  .description
    %ul
      %li
        Generated market research through speaking to potential clients and
        working attorneys to develop a beta product suite of Legal Practice
        Management tools.

      %li
        Delivered working software throughout the software development that was
        delivered to a small handful of law firms in order to acquire feedback
        and deliver the best solution for the target customer.

      %li
        Implemented a low cost architecture to deliver a virtually cost free
        beta product.
