%section
  %h2 Skills

  %h4 Languages
  %ul.clearfix
    %li Ruby
    %li Rubymotion
    %li Javascript
    %li HTML
    %li HAML
    %li CSS
    %li Shell
    %li Elixr

%section
  %h4 Frameworks
  %ul.clearfix
    %li Rails
    %li Sinatra
    %li Rack
    %li Backbone
    %li Docker
    %li Express

%section
  %h4 Databases
  %ul.clearfix
    %li MySQL
    %li PostgresSQL
    %li MongoDB
    %li Riak
    %li Redis
    %li Memcached

%section
  %h4 Certifications
  %ul.clearfix
    %li Certified Scrum Product Owner
