- extend SkillsHelper

%section
  %h2 Skills

  %h4 Languages
  %ul.clearfix
    - languages.each do |language|
      %li= link_to language, "//github.com/search?q=user%3Ajwaldrip+fork%3Atrue&type=Repositories&ref=advsearch&l=#{language}&s=updated", target: '_blank'

%section
  %h4 Frameworks
  %ul.clearfix
    %li Rails
    %li Sinatra
    %li Rack
    %li Backbone
    %li Docker

%section
  %h4 Databases
  %ul.clearfix
    %li MySQL
    %li PostgresSQL
    %li MongoDB
    %li ElasticSearch
    %li Redis

%section
  %h4 Certifications
  %ul.clearfix
    %li= link_to('Certified Scrum Product Owner', 'http://www.scrumalliance.org/community/profile/jwaldrip')
