- extend SkillsHelper

%section
  %h2 Skills

  %h4 Languages
  %ul.clearfix
    - languages.each do |language|
      %li= link_to language.capitalize, "//github.com/search?q=user%3Ajwaldrip+fork%3Atrue&type=Repositories&ref=advsearch&l=#{language}&s=updated", target: '_blank'

%section
  %h4 Frameworks
  %ul.clearfix
    %li Electron
    %li Express
    %li Node
    %li Ruby-on-Rails
    %li React
    %li React Native
    %li Relay
    %li Terraform

%section
  %h4 IaaS
  %ul.clearfix
    %li AWS
    %li Google Cloud
    %li Kubernetes
    %li Digital Ocean

%section
  %h4 PaaS
  %ul.clearfix
    %li Deis
    %li Flynn
    %li Heroku
    %li Kubernetes

%section
  %h4 Databases
  %ul.clearfix
    %li BigQuery
    %li ElasticSearch
    %li Etcd
    %li MongoDB
    %li MySQL/MariaDB
    %li PostgresSQL
    %li Redis

%section
  %h4 Certifications
  %ul.clearfix
    %li= link_to('CSPO', 'http://www.scrumalliance.org/community/profile/jwaldrip')
