- extend SkillsHelper

%section
  %h2 Skills

  %h4 Languages
  %ul.clearfix
    - languages.each do |language|
      %li= link_to language.capitalize, "//github.com/search?q=user%3Ajwaldrip+fork%3Atrue&type=Repositories&ref=advsearch&l=#{language}&s=updated", target: '_blank'

%section
  %h4 Frameworks
  %ul.clearfix
    %li Ruby-on-Rails
    %li React.js
    %li Node.js
    %li Express.js
    %li Relay.js
    %li Electron.js

%section
  %h4 DevOps
  %ul.clearfix
    %li Docker
    %li Kubernetes
    %li Flynn
    %li Deis
    %li CoreOS
    %li Systemd
    %li Heroku

%section
  %h4 Databases
  %ul.clearfix
    %li PostgresSQL
    %li MySQL
    %li Etcd
    %li MongoDB
    %li ElasticSearch
    %li Redis

%section
  %h4 Certifications
  %ul.clearfix
    %li= link_to('Certified Scrum Product Owner', 'http://www.scrumalliance.org/community/profile/jwaldrip')
