%h2 Career Summary
%p
  Over a decade of experience developing, designing, and managing
  innovative software solutions through a process of research, analysis,
  internal representation, and the agile framework.
