%h2 Career Summary
%p
  A hands-on technical leader with over a decade of experience in building high-performance, scalable, high-quality applications. Expert in building and designing solutions that enable teams to achieve rapid software development through a series of industry-leading software development processes.
