.position
  .date-range
    .start 2009
    .end 2011
  %h3
    Unicorn Media
    %small February 2009 - November 2010
  .title
    Manager, Solutions Architecture
  .location
    Tempe, AZ
  .description
    %ul
      %li
        Represented the product when speaking to clients in order to educate about our technology and gather feedback for future development.
      %li
        Used mathematical skills and familiarity of various spreadsheet tools in order to analyze cost and determine the proper pricing for customers.
      %li
        Utilized feedback from clients and industry research in order to construct requirements resulting in the release of various products and services.
