.position
  .date-range
    .start 2007
    .end 2009
  %h3
    Viddler
    %small July 2007 - February 2009
  .title
    Project Manager, QA Manager
  .location
    Bethlehem, PA
  .description
    %ul
      %li
        Worked with an international engineering team to construct, manage and deliver requirements through the entirety of their life cycle.
      %li
        Implemented Agile & Scrum methodology to increase productivity and maintain a scheduled re-occurring release schedule.
      %li
        Created a series of Quality Assurance Practices to ensure products were stable, scalable and in alignment with their original requirements.
